.stat-bar-container {
  width: 400px;
  margin: 0 auto;
}

.stat-bar {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center align the content */
}

.stat-bar-label {
  margin-bottom: 0.25rem;
  font-weight: bold;
  text-align: center;
}

.stat-bar-value-container {
  width: 300px; /* Set a fixed width for the container */
  background-color: #e0e0e0; /* Light gray background for the bar container */
  border-radius: 5px;
  overflow: hidden; /* Ensure the value bar doesn't overflow */
}

.stat-bar-value {
  height: 20px; /* Fixed height for bars */
  border-radius: 5px; /* Rounded corners for the value bar */
  transition: width 0.3s; /* Smooth transition for the bars */
  text-align: center; /* Center the number inside the bar */
  display: flex;
  align-items: center; /* Vertically center the number inside the bar */
  padding-left: 5px;
}

.pokemon-type {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 0.25rem;
  border-radius: 9999px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Black border */
  color: white;
  font-size: 0.875rem;
  text-align: center;
}

.type-normal {
  background-color: #a8a878;
}
.type-fire {
  background-color: #f08030;
}
.type-water {
  background-color: #6890f0;
}
.type-electric {
  background-color: #f8d030;
}
.type-grass {
  background-color: #78c850;
}
.type-ice {
  background-color: #98d8d8;
}
.type-fighting {
  background-color: #c03028;
}
.type-poison {
  background-color: #a040a0;
}
.type-ground {
  background-color: #e0c068;
}
.type-flying {
  background-color: #a890f0;
}
.type-psychic {
  background-color: #f85888;
}
.type-bug {
  background-color: #a8b820;
}
.type-rock {
  background-color: #b8a038;
}
.type-ghost {
  background-color: #705898;
}
.type-dragon {
  background-color: #7038f8;
}
.type-dark {
  background-color: #705848;
}
.type-steel {
  background-color: #b8b8d0;
}
.type-fairy {
  background-color: #ee99ac;
}
